body {
    font-family: monospace;
}

ul {
    font-family: Helvetica, Arial, sans-serif;
}


ul li {
    list-style: circle;
}


ul li.list {
    list-style: square;
}

#msg {
    font-family: monospace;
}
.light-theme {

    color: #000000;
    
    background: #00FF00;
    
    }